<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .header
        {
            margin-top: 50px;
            font-size: 40px;
            background-color:yellowgreen;
            height: 100%;
            width: 100%;
           
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">E-Commarce</a>
            </div>
        <ul class="nav navbar-nav">
            {% for page in cmsPages %}
            <li><a href="/cybercom/php/productMvc/public/{{page.urlKey}}">{{page.pageTitle}}</a></li>
             {% endfor %} 
            {% for value in category %}
            {% set childarr = value.childName|split(',') %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ value.parentName }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for i in 0..childarr|length %}
                        <li><a href="/cybercom/php/productMvc/public/Category/View/{{ childarr[i] }}">{{ childarr[i] }}</a></li>
                    {% endfor %}
                  </ul>
                </li>  
                 {% endfor %}
                 <li><a href="/cybercom/php/productMvc/public/admin/login">Admin Login</a></li>
                </ul>
               
        </ul>
        </div>
    </nav>
    <h3>Welcome User</h3>
    {% block body %}
    {% endblock %}
</body>
</html>