
{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{%block body %}
{% if edit == 'edit' %}
    {% set btn = 'Update' %}
    {% set action = 'updateCategory' %}
    {% set heading = 'Update Category' %}
{% else %}
    {% set btn = 'Add' %}
    {% set action = 'addCategory' %}
    {% set heading = 'Add Category' %}
{% endif %}
    <h1>{{heading}}</h1>

    <form action="{{action}}" method="POST" enctype="multipart/form-data">
        <div class="categoryName">
            <label>Category Name</label>
            <input type="text" name="categoryName" value="{{category.categoryName}}">
        </div><br>
        <div class="urlKey">
            <label>urlKey</label>
            <input type="text" name="urlKey" value="{{category.urlKey}}">
        </div><br>
        <div class="Image">
            <label>Upload Image</label>
            <input type="file" name="Image" value="/public/Uploads/{{category.Image}}">
        </div><br>
        <div class="parentCategory">
            <label>Status</label>
            <select name="status">
                {% if category.Status == 1 %}
                {% set select = 'selected' %}
                {% else %}
                {% set select = '' %}
                {% endif %}
                <option value="0" selected>0</option>
                <option value="1" {{select}}>1</option>
            </select>
        </div><br>
        <div class="Discription">
            <label>Product Discription</label>
            <textarea cols="30" rows="2" name="Description">{{category.Description}}</textarea>
        </div><br>
        <div class="parentCategory">
            <div class="parentCategory">
                <label>parent Category</label>
                <select name="parent_id">
                    <option value="Null">NULL</option>
                    {% for items in parentCategory %}
                    {% if items.category_id == category.parent_id %}
                        {% set select = 'selected' %}
                    {% else %}
                        {% set select = "" %}
                    {% endif %}
                    {{items.parent_id}}
                        <option value="{{items.category_id}}" {{select}}>
                            {{items.categoryName}}</option>
                    {% endfor %}
                </select>
            </div><br>
        <input type="submit" value="{{btn}}">
    </form> 
{% endblock %}