{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{%block body %}
{% if edit == 'edit' %}
    {% set btn = 'Update' %}
    {% set action = 'updateProduct' %}
    {% set heading = 'Update Product' %}
{% else %}
    {% set btn = 'Add' %}
    {% set action = 'addProduct' %}
    {% set heading = 'Add Product' %}
{% endif %}
    <h1>{{heading}}</h1>
    <form action="{{action}}" method="POST" enctype="multipart/form-data">
        <div class="productName">
            <label>Product Name</label>
            <input type="text" name="productName" value="{{products.productName}}">
        </div><br>
            <div class="childCategory">
                <label>product Category</label>
                <select name="category_id">
                    {% for items in child %}
                    {% if items.category_id == products.category_id %}
                        {% set select = 'selected' %}
                    {% else %}
                        {% set select = "" %}
                    {% endif %}
                        <option value="{{items.category_id}}" {{select}}>
                            {{items.categoryName}}</option>
                    {% endfor %}
                </select>
            </div><br>
        <div class="SKU">
            <label>SKU</label>
            <input type="text" name="SKU" value="{{products.SKU}}">
        </div><br>
        <div class="urlKey">
            <label>urlKey</label>
            <input type="text" name="urlKey" value="{{products.urlKey}}">
        </div><br>
        <div class="Image">
            <label>Upload Image</label>
            <input type="file" name="Image" value="/public/Uploads/{{products.Image}}">
        </div><br>
        <div class="parentCategory">
            <label>Status</label>
            <select name="status">
                {% if products.Status == '1' %}
                {% set select = 'selected' %}
                {% else %}
                {% set select = '' %}
                {% endif %}
                <option value="0" selected>0</option>
                <option value="1" {{select}}>1</option>
            </select>
        </div><br>
        <div class="Discription">
            <label>Product Discription</label>
            <textarea cols="30" rows="2" name="Description">{{products.Description}}</textarea>
        </div><br>
        <div class="shortDiscription">
            <label>Product Short Discription</label>
            <textarea cols="30" rows="2" name="shortDescription">{{products.shortDescription}}</textarea>
        </div><br>
        <div class="price">
            <label>Price</label>
            <input type="text" name="Price" value="{{products.Price}}">
        </div><br>
        <div class="stock">
            <label>Stock</label>
            <input type="text" name="Stock" value="{{products.Stock}}">
        </div><br>
        <input type="submit" value="{{btn}}">
    </form> 
{% endblock %}