{% extends "frontbase.html" %}
{% if product.urlKey != " " %}
{% set title = product.urlKey %}
{% else %}
{% set title = Categories %}
{% endif %}
{% block body %}
<h1>{{title}}</h1>
{% for items in product%}
<div style="display: inline-flex;">
    <div style="text-align: center;">
       
        <a href="/cybercom/php/productMvc/public/products/view/{{items.productName}}"><img src="../../{{items.Image}}"></a> <br>
        <dt>{{items.productName}}</dt>
       
    </div>
</div>
{% endfor %}
{% endblock %}